#CenterPart{
    margin-top:10px;
}
/*#message{
    font-family:Auriol-Italic-Normal;
}*/

#questionPart{
    width:600px;
    margin:0 auto;
    padding:40px;  /*20px 5px 10px;*/
    background:#ccccb3;
}
abody {
}
